.slide-container {
    width: fit-content;
    margin: 50px auto;
    position: relative;
}
.slide {
    height: 500px;
    width: 1200px;
   
    border-radius: 10px;
    border: 1px solid black;
}

.ico-action {
    position: absolute;
    height: 50px;
    top: 150px;
    cursor: pointer;
    transition: 0.5s;
}

.ico-prev {
    left: -80px;
}

.ico-prev:hover {
    transform: scale(0.8) translateX(-5px);
}

.ico-next {
    right: -80px;
}

.ico-next:hover {
    transform: scale(0.8) translateX(5px);
}

